<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="{{common.host}}/static/css/test1.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="{{common.host}}/static/js/common.js"></script>
	<script src="{{common.host}}/static/js/canvasjs.min.js"></script>
	<script src="{{common.host}}/static/js/node.js"></script>
	<script src="{{common.host}}/static/js/d3.js"></script>
	<script src="{{common.host}}/static/js/d3.layout.js"></script>
	<script src="{{common.host}}/static/js/d3.layout.cloud.js"></script>
	<script src="{{common.host}}/static/js/d3cloud.js"></script>
	<script src="{{common.host}}/static/js/index.js"></script>
	<script src="{{common.host}}/static/js/jquery.canvasjs.min.js"></script>
	
	
	<script src="http://d3js.org/d3.v3.min.js"></script>


	<title>{{common.title}}</title>
</head>
<body>
	{% block content %}
	{% endblock content %}
</body>
</html>