{% extends 'common.html' %}

{% block content %}
<script>
  $(window).ready(function(){
      //$(document).ready(function()
      //document를 파라미터로 넘기면, 
      //태그등이 셋팅이 완료되었을때의 시점에 이벤트를 
      //발생 
      //$(window).ready(function()
      //모든 리소스, 즉 이미지 플래시, 등등 문서에 포함되는 
      //모든 소스가 로딩이 완료되는 시점에 이벤트를 발생시킨다.
      get_news_list("{{bubbleword}}",function(data){
        //data배열 !
        $.each(data,function(key,value){
          //each함수는 배열과 객체를 순회할 목적으로 쓰인다.
          //배열내 모든 요소에서 function을 수행하고
          //key에 배열에 인덱스를 전달, value에는 배열에 데이터가 전달됨.
         //console.log(key);
          //console.log(value);
          var item = '<div class="news_item">';
          if(value.photo_url=="getPhoto_url Error"){
            //console.log(value.photo_url);
          }else{
            item+='<img src="';
            item+=value.photo_url;
            item+='" class="image">';
          }
          item+='<div class="body">';
          item+='<div class="head">';
          item+='<a href="';
          item+=value.url;
          item+='" class="title" target="_blank">'; //원본 뉴스 URL넣기
          item+=value.title;
          item+='</a>';
          item+='<p class="date">';
          item+=value.date;
          item+='</p>';
          item+='</div>';
          item+='<div class="content">';
          item+=value.body;
          item+='</div>';
          item+='<div class="tail">';
          item+=value.reporter;
          item+='</div>';
          item+='</div>';
          item+='</div>';
          //console.log(item);
          $("#news_list").append(item); //news_list클래스에 추가
          //$("#news_list_byreporter").append(item); //news_list클래스에 추가
        });
      });
    });

  </script>

  <style type="text/css">

    .fixed-panel{
     min-height:30px;
     max-height:400px;
     overflow-y:scroll;
   }
   .navbar-nav{
    height:36px;
    margin:15px;
   }

 </style>

 <style>

  body{
   background: #eee;
 }
 
 .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#display{
 height: 500px;
 width:500px;
 border: 8px solid black;
 overflow: auto;
}
</style>



<!-- spline chart -->
<script type="text/javascript">
   window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer",
      {

         title:{
            text: "The Keyword Chart",
            fontSize: 30
         },
                        animationEnabled: true,
         axisX:{

            gridColor: "Silver",
            tickColor: "silver",
            valueFormatString: "DD/MMM"

         },                        
                        toolTip:{
                          shared:true
                        },
         theme: "theme2",
         axisY: {
            gridColor: "Silver",
            tickColor: "silver"
         },
         legend:{
            verticalAlign: "center",
            horizontalAlign: "right"
         },
         data: [
         {        
            type: "line",
            showInLegend: true,
            lineThickness: 2,
            name: "Visits",
            markerType: "square",
            color: "#F08080",
            dataPoints: [
            { x: new Date(2010,0,3), y: 650 },
            { x: new Date(2010,0,5), y: 700 },
            { x: new Date(2010,0,7), y: 710 },
            { x: new Date(2010,0,9), y: 658 },
            { x: new Date(2010,0,11), y: 734 },
            { x: new Date(2010,0,13), y: 963 },
            { x: new Date(2010,0,15), y: 847 },
            { x: new Date(2010,0,17), y: 853 },
            { x: new Date(2010,0,28), y: 869 },
            { x: new Date(2010,0,30), y: 943 },
            { x: new Date(2010,2,1), y: 970 }
            ]
         }

         
         ],
          legend:{
            cursor:"pointer",
            itemclick:function(e){
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                 e.dataSeries.visible = false;
              }
              else{
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
      });

chart.render();
}
</script>
<script>
  $(window).ready(function(){
    $("#searchbt").click(function(){
      window.location="http://localhost:8000/third/"+$("#searchbar").val();
    });
  });
</script>


</head>
<body>
<!-- 2번 째 page의 body에 있어서 첫 번째로 나오는 구성물. 
   1page와 마찬가지로 검색인터페이스와 home으로 돌아갈 수 있
    는 logo 이미지 배치 -->
  
  <nav class = "navbar navbar-inverse">
   <div class = "container-fluid">
    <div class = "navbar-header">
     <a class="navbar-brand" href="http://localhost:8000"><img src="{{common.host}}/static/images/pop1.jpg" width="90" height="40"></a>
    </div>
    <ul class="navbar-nav">
    <form class="form-inline">
    <input type="text" id="searchbar" class="form-control" size="50" placeholder="Search what you want" required>
    <button type="button" id="searchbt" class="btn btn-danger">Search</button>
    </form>
    </ul>
    </div>
  </nav>



<div class="row">
  <div class="col-sm-6">  
    <div class="container-fluid">
     <h3>Bubble Newslist</h3>
     <div class="panel panel-default">
      <div class="panel-heading">This is bubble news</div>
      <div class="panel-body fixed-panel">
        <div class="news_list" id="news_list">

        </div>
      </div>
    </div>
  </div>
</div>





<div class="col-sm-6">
 <div class = "container-fluid">
  <h3>Keyword Graph</h3>
  <div class="panel panel-default">
    <div class="panel-heading">Keyword chart</div>
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
  </div>
  
</div>
</div>
</div>
<div class="row">
 <div class="col-sm-6">
  <h3 class="text-success">The Keyword Tree</h3>
  
  <div id="body">
    <div id="footer">
    </div>
  </div>
  <script src="{{common.host}}/static/js/common.js"></script> 
  
  <script type="text/javascript">

    var m = [20, 120, 20, 120],
    w = 1280 - m[1] - m[3],
    h = 800 - m[0] - m[2],
    i = 0,
    root;

    var tree = d3.layout.tree()
    .size([h, w]);

    var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

    var vis = d3.select("#body").append("svg:svg")
    .attr("width", w + m[1] + m[3])
    .attr("height", h + m[0] + m[2])
    .append("svg:g")
    .attr("transform", "translate(" + m[3] + "," + m[0] + ")");
    d3.json("http://localhost:8080/search/tree/"+"{{bubbleword}}", function(json) {
     //d3.json("{{common.host}}/static/etc/treeflare.json", function(json) {
      root = json;
      root.x0 = h / 2;
      root.y0 = 0;
      function toggleAll(d) {// d = 노드의 내용
        if (d.children) {
          d.children.forEach(toggleAll);
          toggle(d);
        }
      }

  // Initialize the display to show a few nodes.
  root.children.forEach(toggleAll);
  toggle(root); // 노드 뒤집기

  update(root);
});

     function update(source) {
      var duration = d3.event && d3.event.altKey ? 5000 : 500;

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse();

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes¡¦
  var node = vis.selectAll("g.node")
  .data(nodes, function(d) { 
    return d.id || (d.id = ++i);
  });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("svg:g")
  .attr("class", "node")
  .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
  .on("click", function(d) {
  //console.log(d); 
    //console.log(d.name);
    //console.log(d.depth);
    if(d.depth==2){
      console.log(d.parent_node);
      console.log(d.name);
      //get_news_list_byreporter("{{bubbleword}}",function(data){
      get_news_list_byreporter("{{bubbleword}}",d.parent_node,d.name,function(data){
        //data배열 !
        $.each(data,function(key,value){
          //each함수는 배열과 객체를 순회할 목적으로 쓰인다.
          //배열내 모든 요소에서 function을 수행하고
          //key에 배열에 인덱스를 전달, value에는 배열에 데이터가 전달됨.
         //console.log(key);
          //console.log(value);
          var item = '<div class="news_item">';
          if(value.photo_url=="getPhoto_url Error"){
            //console.log(value.photo_url);
          }else{
            item+='<img src="';
            item+=value.photo_url;
            item+='" class="image">';
          }
          item+='<div class="body">';
          item+='<div class="head">';
          item+='<a href="';
          item+=value.url;
          item+='" class="title" target="_blank">'; //원본 뉴스 URL넣기
          item+=value.title;
          item+='</a>';
          item+='<p class="date">';
          item+=value.date;
          item+='</p>';
          item+='</div>';
          item+='<div class="content">';
          item+=value.body;
          item+='</div>';
          item+='<div class="tail">';
          item+=value.reporter;
          item+='</div>';
          item+='</div>';
          item+='</div>';
          //console.log(item);
          $("#news_list_byreporter").append(item);
          //$("#news_list").append(item); //news_list클래스에 추가
        });
      });
      $("#news_list_byreporter").empty();
    //});
    }
    toggle(d); 
    update(d);
  });

  nodeEnter.append("svg:circle")
  .attr("r", 1e-6)
  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("svg:text")
  .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
  .attr("dy", ".35em")
  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
  .text(function(d) { return d.name; })
  .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
  .duration(duration)
  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
  .attr("r", 4.5)
  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
  .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
  .duration(duration)
  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
  .remove();

  nodeExit.select("circle")
  .attr("r", 1e-6);

  nodeExit.select("text")
  .style("fill-opacity", 1e-6);

  // Update the links¡¦
  var link = vis.selectAll("path.link")
  .data(tree.links(nodes), function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("svg:path", "g")
  .attr("class", "link")
  .attr("d", function(d) {
    var o = {x: source.x0, y: source.y0};
    return diagonal({source: o, target: o});
  })
  .transition()
  .duration(duration)
  .attr("d", diagonal);

  // Transition links to their new position.
  link.transition()
  .duration(duration)
  .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
  .duration(duration)
  .attr("d", function(d) {
    var o = {x: source.x, y: source.y};
    return diagonal({source: o, target: o});
  })
  .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children.
function toggle(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
}

</script>
</div>


<div class="col-sm-6">
 <div class="container-fluid">
   <h3>Related news by reporter</h3>
   <div class="panel panel-default">
    <div class="panel-heading">News by reporters</div>
    <div class="panel-body fixed-panel">
      <div class="news_list_byreporter" id="news_list_byreporter">

      </div>
    </div>
  </div>
</div>   <!-- panel-body±îÁö -->  





</div>
</div>






<script>
  (function ($) {
    function init() {
      $('.easy-tree').EasyTree({
        addable: true,
        editable: true,
        deletable: true
      });
    }

    window.onload = init();
  })(jQuery)
</script>


</body>
{% endblock content %}